<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Gardens</h1>

  <div id="gardens">
    <% @gardens.each do |garden| %>
      <%# Notice the link_to block that contains the garden partial! %>
      <%= link_to garden do %>
        <%= render garden %>
      <% end %>

    <% end %>
  </div>

</div>